{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quos commodi dolorem officiis sit ullam
            hic magni inventore facere, totam sapiente dolore consectetur voluptas fugiat animi modi nesciunt! Similique
            dolorum delectus assumenda est autem natus facilis quae sint quo doloremque totam, quod illo eum praesentium
            maxime soluta excepturi. Aliquam nobis repudiandae eveniet debitis, reprehenderit ratione ipsa voluptate
            similique exercitationem ipsum vero accusamus ut tenetur ad perspiciatis fugiat modi voluptas non omnis nemo
            iste, consequatur nostrum vitae. Dolore aliquid iusto saepe.
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signup/">Sign Up</a>
            <a class="btn btn-dark" href="/login/">Login</a>
        </div>
    </section>
</main>
{% endblock %}